<h1>图表展示</h1>
<div class="col-md-12">
    <div class="date">
        <lable>选择时间区间:</lable>
        <input type ='date' ng-model="startTime"  />
        <span>至</span>
        <input type ='date' ng-model="stopTime"  />
        <button type="button" class="btn btn-primary" ng-click = "getData()">确定</button>
    </div>
    <div class="" style="display: inline-block">
        <div class="myecharts"></div>
    </div>
    <div id="" class="" style=" display: inline-block">
        <div id="pie"></div>
    </div>
</div>
